.landingSection {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(310px, 1fr));
  padding: 0.2% 8%;
  margin-bottom: 20px;
  align-items: center;
  gap: 18px;

  img {
    object-fit: contain;
  }

  .landingSectionLeft {

    .heading {
      color: #272f46;
    }

    .subheading {
      color: #272f46;
      line-break: 4px;
    }

    .buttonMore {
      .button {
        background-color: #bd0204;
        border-radius: 8px;
        border: none;
      }
    }
  }

  .landingSectionRight {}
}